<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <connectionStrings>
    <add name="constr"
     providerName="System.Data.ProviderName"
     connectionString="Data Source=172.16.206.20;Initial Catalog=IBusinessTest;User ID=Data_writer;Password=Pasmy@2791381230" />
  </connectionStrings>

</configuration>